
*{
    margin: 0px;
}
.navbar{
    display: flex;
    gap: 314px;
    justify-content: center;
    margin: 0px auto;
    background-color: #1A0B2E;
    padding: 16px;
    align-items: center;

}
.menu-bar a {
    text-decoration: none;
    margin-left: 32px;
    color: white;
    font-weight: 700px;
    font-size: 16px;

}

.navbar h2 {
   color: white;
   font-size: 40px;

}
 .navbar #wave{
    color:rgb(219, 85, 107)
 }

.btn-primary{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
    font-size: 16px;
    border: none;
    font-weight: 700px;
}
.btn-transparent{
    background: transparent;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    color: #00FF88;
    font-size: 16px;
    font-weight:700px;
    padding: 12px 16px 12px 16px;
}
.text-white{
    color: white;
}

.hero-bg{
    background-image: url(assets/hero-bg.png) ;
    border-top: 1px dashed grey ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 

}
.img-box{
     position: relative;
     text-align: center;
     align-items: center;
     justify-content: center;
     transform: translateY(101px);
     margin-bottom: 100px;
   
     
}

.img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% , -50%) ;
}
.hero-content h1{
     font-size: 60px;
     margin-bottom: 8px;
     margin-top: 40px;
    


} 
.hero-content{
    margin-bottom: 50px;
}
.btn-box{
    display: flex;
    gap: 8px;
    margin-top: 24px;
}
.hero-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}
.hero-content{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.about-section{
    background-color: #1A0B2E;
    padding-bottom: 120px;
    padding-top: 100px;
    padding-left: auto;
    padding-right: auto;
     border: 1px solid red;
}
.about-card h1{
    color: #00FF88; 
    font-family: Inter;
    font-style: Black;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0%;
    text-transform: capitalize;
   
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    

    
}
.about-content{
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 120px;
   
}
.about-content h1{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));


font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.about-content p{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
font-size: 16px;
margin-top: 16px;

}
.about-card p{
    font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
font-size: 16px;
margin-top: 16px;
text-transform: uppercase;
}
.why-section{
    background : #230E3D;
}
.card-1-box{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 273px) ;
}
.card-1{
    width: 100%;
    height:100%;
}
