
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
}
.navbar{
    display: flex;
    gap: 314px;
    justify-content: center;
    margin: 0px auto;
    background-color: #1A0B2E;
    padding: 16px;
    align-items: center;

}

.menu-bar a {
    text-decoration: none;
    margin-left: 32px;
    color: white;
    font-weight: 700px;
    font-size: 16px;

}

.navbar h2 {
   color: white;
   font-size: 40px;

}
 .navbar #wave{
    color: rgb(237, 49, 153);
 }

.btn-primary{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
    font-size: 16px;
    border: none;
    font-weight: 700px;
    cursor: pointer;
}
.btn-transparent{
    background: transparent;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    color: #00FF88;
    font-size: 16px;
    font-weight:700px;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
}
.btn-transparent:hover , .btn-primary:hover{
    background: gray;
}
.text-white{
    color: white;
}
#menu{
    display: none;
}

.hero-bg{
    background-image: url(assets/hero-bg.png);
    border-top: 1px solid rgb(52, 46, 46) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 

}
.img-box{
     position: relative;
     text-align: center;
     align-items: center;
     justify-content: center;
     transform: translateY(101px);
     margin-bottom: 100px;
     transform: translate(7.5% ,30%);
   
     
}

.img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-80% , -50%) ;
}
.new{
    background-color: #00FF88;
    border-radius: 1000px;
    padding: 8px 16px 8px 16px;
    color: black;
    border: none;
    font-weight: 700;
    font-size: 18px;
    transform: translate(-150% ,-850%);
}
.hero-content h1{
     font-size: 60px;
     margin-bottom: 8px;
     margin-top: 40px;
    


} 
.hero-content{
    margin-bottom: 50px;
}
.btn-box{
    display: flex;
    gap: 8px;
    margin-top: 24px;
}

.hero-content{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.about-section{
    background-color: #1A0B2E;
    padding-bottom: 120px;
    padding-top: 100px;
    padding-left: auto;
    padding-right: auto;

}
.about-card h1{
    color: #00FF88; 
    font-family: Inter;
    font-style: Black;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0%;
    text-transform: capitalize;
   
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    

    
}
.about-content{
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 120px;
   
   
}
.about-content h1{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));


font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.about-content p{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
font-size: 16px;
margin-top: 16px;

}
.about-card p{
    font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
font-size: 16px;
margin-top: 16px;
text-transform: uppercase;
}
.why-section{
    background : #230E3D;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-bottom: 100px;
}
.card-1-box{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 273px) ;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 783px;
    margin-bottom: 120px;
    
}
.card-1{
    width: 100%;
    height:100%;


}
.row2-column1{
   grid-column: span 1;
   grid-row: span 2;
}
.column2-row1{
    grid-column: span 2;
    grid-row: span 1;
}
.row1-column1{
    grid-column: span 1;
    grid-row: span 1;
}
.card-1{
    background-color: rgba(53 ,17 ,101 ,0.4);
    border-radius: 40px;
    


}
.why-section h1{
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-top: 120px;
margin-bottom: 40px;
}
#card-title{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 40px;
}
.card-1 img{
    margin-left: 40px;
    margin-top: 40px;
}
.card-1 p{
    margin-left: 40px;
    margin-right: 40px;
}
.featured-section{
    background-color: #1A0B2E ;
    padding-bottom: 120px;
}
.youtube-card{
    display: flex;
    gap: 30px;
    justify-content: center;
       
}
.card-2{
    width: 380px;
    height: 440px;
    background-color: rgba(53 ,17 ,101 ,0.4);
    border-radius: 24px 24px;
}
.featured-title{
    

font-style: Bold;
font-size: 30px;
font-weight: 700;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
padding-top: 120px;
margin-bottom: 40px;
}
.card-2 h3{
font-style: Bold;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-left: 24px;
margin-top: 24px;
margin-right: 24px;
margin-bottom: 12px;
}
.card-2 .text{
font-size: 16px;
font-weight: 200px;
line-height: 24px;
margin: 0 24px 12px 24px;
}
.card-2 .time{
    margin-left: 24px;
    color: #00FF88;
    align-items: center;
}
.host-section{
     background-color: rgba(53 ,17 ,101 ,0.4); 
     width: 1200px;
     height: 280px;
     border-radius: 40px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.host-container{
    justify-items: center;
    color: #FFFFFF;
    
}
.host-container h1{
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-top: 120px;
margin-bottom: 40px;

}
.host-container img{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 24px;
}
.host-section .name{
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
margin-bottom: 16px;
}
.host-section p{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-right: 40px;
}
.social-link{
    margin-left: -35px;
    margin-bottom:auto ;
}
.social-link a{
    margin-right: -35px;

}
footer{
    background-image: url(assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-bottom:90px;
 
}
footer h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 32px;
}
.copyright{
  
}
#wave{
    color: rgb(237, 49, 153);
}
.link-social{
    display: flex;
    gap: 40px;
    margin-bottom: 32px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;

    
    
}
@media screen and (max-width:576px) {
   .menu-bar , .nav-btn ,.host-section{
    display:none;
   }
   .navbar{ 
    max-width: 500px;
    gap: 0px;
    
   }
   .navbar h2{
    font-size: 22px;
    margin: 0;
       
   }
   #menu{
    display:block;
    cursor: pointer;
   }
   .logo{
    display: flex;
    gap: 170px;
   }
   .img1{
    width: 200px;
    height: 200px;
   }
   .img2{
    width: 70px;
    height: 90px;
    transform: translate(-100%,-60%);
   }
   .new{
    transform: translate(-95%,-500%);
    font-size: 16px;
   }
   
   .img-box{
    margin-bottom: 24px;

   }

   .hero-bg{
   background-image: url(assets/hero-bg.png);
   max-width: 500px;
   background-size: cover;
   background-repeat: no-repeat;
    
   }
    .hero-content h1{
     font-size: 25px;
     margin-bottom: 8px;
     
    }
    .hero-content {
        max-width: 500px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .about-section{
        max-width: 500px;
        padding-top: 60px;
    }
    .about-content h1{
        font-size: 30px;
    }
    .about-content{
        margin-left:10px ;
        margin-right:10px ;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2 ,1fr);
        gap: 30px;
    }
    .about-card{
        text-align: center;
    }
    .about-card h1{
        font-size: 35px;
    }
    .why-section{
        width: 100%;
        max-width: 500px;
        padding-bottom: 30px;
    }
    .why-section h1{
        font-size: 30px;
    }
    .card-1{
    
    }
.youtube-card{
     flex-direction :column;
   }
.card-1-box {
    grid-template-columns: repeat(1 ,1fr);
    grid-template-rows: repeat(1 ,1fr);
    max-width: 370px;
    height: auto;
   
}
.card-1{
    padding-bottom: 10px;

  
}
}